$navbar-inverse-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-size: 1.7em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center{
  text-align: center;
}

.jumbotron {
  background-image: asset_url('blog-background.jpg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1{
  color: #000000;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 150px;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  padding-top: 5px;
}

.list-group-item{
  background-color: #f5f5f5;
}

.article-listing-title a:hover{
  text-decoration: none;
}

#articles_all{
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;

}

footer{
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: right;
  margin-left: 15px;
}

#title_bg{
  margin-top: -25px;
}

#article_form{
  margin-top: 25px;
}